In [89]:
import pandas as pd
import numpy as np

from sklearn import model_selection

In [90]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [91]:
def parse_df(df):
    df['distance_from_center'] = (df['XCoord']**2 + df['YCoord']**2)**(.5)
    
    return df

In [92]:
train = parse_df(train)
test = parse_df(test)

In [93]:
train.head()

    ID    XCoord    YCoord Competitor  distance_from_center
0  111  0.943354 -0.184819        Bob              0.961288
1   92  0.121557 -0.927656        Bob              0.935586
2   20  0.818485  0.375437        Bob              0.900483
3   75  0.867462 -0.159851        Sue              0.882067
4   10 -0.817321 -0.373419       Kate              0.898585

In [94]:
train['FoldId'] = np.random.permutation((train.index % 5 + 1).tolist())

In [95]:
def make_meta(df):
    meta = df.copy()
    meta['M1'] = np.nan
    meta['M2'] = np.nan
    
    return meta

In [96]:
train_meta = make_meta(train)
test_meta = make_meta(test)

In [97]:
train_meta.head()

    ID    XCoord    YCoord Competitor  distance_from_center  FoldId  M1  M2
0  111  0.943354 -0.184819        Bob              0.961288       2 NaN NaN
1   92  0.121557 -0.927656        Bob              0.935586       2 NaN NaN
2   20  0.818485  0.375437        Bob              0.900483       5 NaN NaN
3   75  0.867462 -0.159851        Sue              0.882067       3 NaN NaN
4   10 -0.817321 -0.373419       Kate              0.898585       3 NaN NaN

In [102]:
for i in range(1,6):
    train_fold = train_meta.loc[train_meta.FoldId != i]
    test_fold = train_meta.loc[train_meta.FoldId == i]

SyntaxError: invalid syntax (<ipython-input-102-7c8f90bfa13d>, line 2)