In [2]:
import pandas as pd

In [4]:
dfs = pd.read_csv('train', chunksize=10000)

In [5]:
for df in dfs:
    break

## Feature Analysis

In [20]:
df.head()

,id,click,hour,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,...,device_type,device_conn_type,C14,C15,C16,C17,C18,C19,C20,C21
0,1000009418151094273,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,...,1,2,15706,320,50,1722,0,35,-1,79
1,10000169349117863715,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,...,1,0,15704,320,50,1722,0,35,100084,79
2,10000371904215119486,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,...,1,0,15704,320,50,1722,0,35,100084,79
3,10000640724480838376,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,...,1,0,15706,320,50,1722,0,35,100084,79
4,10000679056417042096,0,14102100,1005,1,fe8cc448,9166c161,0569f928,ecad2386,7801e8d9,...,1,0,18993,320,50,2161,0,35,-1,157

In [25]:
pd.concat([df.dtypes,
           df.nunique()/len(df) * 100.,
           df.isnull().sum()
          ], axis=1)

                       0       1  2
id                uint64  100.00  0
click              int64    0.02  0
hour               int64    0.01  0
C1                 int64    0.06  0
banner_pos         int64    0.04  0
site_id           object    3.81  0
site_domain       object    3.17  0
site_category     object    0.14  0
app_id            object    3.13  0
app_domain        object    0.31  0
app_category      object    0.14  0
device_id         object   10.75  0
device_ip         object   73.02  0
device_model      object   11.68  0
device_type        int64    0.04  0
device_conn_type   int64    0.04  0
C14                int64    2.71  0
C15                int64    0.04  0
C16                int64    0.05  0
C17                int64    1.11  0
C18                int64    0.04  0
C19                int64    0.32  0
C20                int64    1.08  0
C21                int64    0.29  0

## Models

In [54]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score

In [27]:
df_train, df_val = train_test_split(df, shuffle=False)

In [28]:
df_train.head()

,id,click,hour,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,...,device_type,device_conn_type,C14,C15,C16,C17,C18,C19,C20,C21
0,1000009418151094273,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,...,1,2,15706,320,50,1722,0,35,-1,79
1,10000169349117863715,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,...,1,0,15704,320,50,1722,0,35,100084,79
2,10000371904215119486,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,...,1,0,15704,320,50,1722,0,35,100084,79
3,10000640724480838376,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,...,1,0,15706,320,50,1722,0,35,100084,79
4,10000679056417042096,0,14102100,1005,1,fe8cc448,9166c161,0569f928,ecad2386,7801e8d9,...,1,0,18993,320,50,2161,0,35,-1,157

### Logistic Regression

In [67]:
from sklearn import linear_model
from sklearn.feature_extraction.text import FeatureHasher

In [63]:
lr = linear_model.SGDClassifier(loss='log',
                                max_iter=5,
                                verbose=1)

In [64]:
def parse_df_1(df):
    df[['banner_pos']].values
    
    return _, df['click']

In [65]:
x_train, y_train = parse_df_1(df_train)
x_val, y_val = parse_df_1(df_val)

lr.partial_fit(x_train, y_train, classes=[0, 1])

roc_auc_score(lr.predict(x_val), y_val)

-- Epoch 1
Norm: 0.07, NNZs: 1, Bias: -2.513398, T: 7500, Avg. loss: 0.660667
Total training time: 0.00 seconds.

ValueError: Only one class present in y_true. ROC AUC score is not defined in that case.

In [66]:
lr.predict(x_val).max()

0